{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block page %}Home{% endblock %}

{% block styles %}
<style>
.left-align {
    margin: 0;
    padding: 0;
}
</style>

{% endblock %}

{% block content %}


<div class="row" style="overflow-y: hidden;">
    {% if is_authenticated %}
    <div class="row">
        <!-- Left section: Search bar and list of workouts -->
        <div class="col s12 m3" style="max-height: 90vh;  overflow-y: scroll;">


            <!-- Search form : MOVED TO NAVBAR
            <form action="/home" method="GET">
                <div class="input-field">
                    <input id="search" name="search" type="text" placeholder="Search Workouts by Title" value="{{ request.args.get('search') }}">
                    <label for="search"></label>
                </div>
                <div class="input-field">
                    <button class="btn waves-effect waves-light" type="submit">Search</button>
                </div>
            </form>
        -->

            <h4>Workouts</h4>
            <div class="collection">
                {% if workouts %}
                    {% for workout in workouts %}
                    <a href="/home?workout_id={{ workout.id }}{% if selected_routine %}&routine_id={{ selected_routine.id }}{% endif %}" class="collection-item {% if selected_workout and selected_workout.id == workout.id %}active{% endif %}">{{ workout.title }}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <!-- Middle section: Selected workout details -->
        <div class="col s12 m4" style="height: 92vh; background-color: rgb(105, 103, 107);">
            <h5>Selected Workout:</h5>
            {% if selected_workout %}
                <h4>{{ selected_workout.title }}</h4>
                <p>{{ selected_workout.description }}</p>
                <p>Type: {{ selected_workout.type }}</p>
                <p>Body Part: {{ selected_workout.body_part }}</p>
                <p>Equipment: {{ selected_workout.equipment }}</p>
                <p>Level: {{ selected_workout.level }}</p>
                <!-- Add other workout details here -->
                <form action="/home" method="POST">
                    <input type="hidden" name="workout_id" value="{{ selected_workout.id }}">
                    <label for="reps">Reps:</label>
                    <input type="number" id="reps" name="reps" value="0">
                    <label for="sets">Sets:</label>
                    <input type="number" id="sets" name="sets" value="0">
                    <button class="btn waves-effect waves-light" type="submit">Add to Routine</button>
                </form>
            {% endif %}
        </div>


        <!-- SELECTED_ROUTINE -->
        <div class="col s12 m3" style="height: 92vh; background-color: rgb(11, 184, 39);  overflow-y: scroll;">   
            <h4>Selected Routine:</h4>
            {% if selected_routine %}
                <p>Title: {{selected_routine.title}}</p>
            {% endif %}
        </div>


        <!-- Right section: User routines CREATION and management -->
        <div class="col s12 m2" style="height: 92vh; background-color: rgb(65, 127, 156);  overflow-y: scroll;" >


            <h4>Create Routine</h4>
            <form action="/home" method="POST">
                <div class="input-field">
                    <input id="routine_title" name="routine_title" type="text" placeholder="Routine Title">
                    <label for="routine_title"></label>
                </div>
                <button class="btn waves-effect waves-light" type="submit">Create Routine</button>
            </form>


            <h4>Your Routines</h4>
            {% if user_routines %}
                <ul class="collection">
                    <div class="collection-list"> 
                            {% for routine in user_routines %}
                            <a href="/home?routine_id={{ routine.id }}{% if selected_workout %}&workout_id={{ selected_workout.id }}{% endif %}" class="collection-item {% if selected_routine and selected_routine.id == routine.id %}active{% endif %}">{{ routine.title }}</a>


                            <!--   <li class="collection-item">
                                    <div>{{ routine.title }}
                                        <a href="#!" class="secondary-content"><i class="material-icons">expand_more</i></a>
                                    </div>
                                    <ul class="collapsible" data-collapsible="accordion">
                                        {% for workout in routine.workouts %}
                                            <li>
                                                <div class="collapsible-header">{{ workout.title }}</div>
                                                <div class="collapsible-body">
                                                    <form action="/home" method="POST">
                                                        <input type="hidden" name="routine_id" value="{{ routine.id }}">
                                                        <input type="hidden" name="workout_id" value="{{ workout.id }}">
                                                        <label for="reps">Reps:</label>
                                                        <input type="number" id="reps" name="reps" value="{{ workout.reps }}">
                                                        <label for="sets">Sets:</label>
                                                        <input type="number" id="sets" name="sets" value="{{ workout.sets }}">
                                                        <button type="submit">Update</button>
                                                    </form>
                                                    <form action="/home" method="POST">
                                                        <input type="hidden" name="routine_id" value="{{ routine.id }}">
                                                        <input type="hidden" name="workout_id" value="{{ workout.id }}">
                                                        <button type="submit">Delete</button>
                                                    </form>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li> -->


                            {% endfor %}
                </ul>
            {% else %}
                <p>No routines found. Create a routine to get started.</p>
            {% endif %}
        </div>

        




    </div>
    {% else %}
    <div class="row">
        <div class="col s12">
            <h5>Please login to view this page.</h5>
        </div>
    </div>
    {% endif %}
</div>


{% endblock %}
