<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gym Buddy{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='vecteezy_ai-generated-a-gym-with-dark-exercise-equipment_37228250.jpg') }}");
            background-size: cover;
            color: #fff;
        }
        .navbar-form label {
            color: #fff !important;
        }
    </style>
</head>
<body>

<nav class="grey darken-3">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center" style="font-family:'Lucida Sans Unicode', sans-serif;">Gym Buddy</a>
        <ul id="nav-mobile" class="right">
            {% if is_authenticated %}
                <li><a href="/logout" style="font-family:'Lucida Sans Unicode', sans-serif;">Logout</a></li>
            {% else %}
                <li><a href="/signup" style="font-family:'Lucida Sans Unicode', sans-serif;">Sign Up</a></li>
                <li><a href="/login" style="font-family:'Lucida Sans Unicode', sans-serif;">Log In</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

</body>
</html>
