{% extends "layout.html" %}
{% block title %}Signup{% endblock %}
{% block page %}{% endblock %}

{% block content %}
<div class="container" style="display: flex; justify-content: center; height: 100vh; padding-top:10vh;">
    <div style="width: 30vw;">
        <h3 style="color: white; text-align: center; margin-bottom: 5vh;">Account Creation</h3>

        <form action="{{ url_for('auth_views.signup_action') }}" method="POST">
            <div class="input-field">
                <input type="text" id="new_username" name="new_username" required style="color: white; border-radius: 15px;">
                <label for="username">Username</label>
            </div>
            <div class="input-field">
                <input type="password" id="new_password" name="new_password" required style="color: white; border-radius: 15px;">
                <label for="password">Password</label>
            </div>
            <div style="align-items:center; justify-content: center; display:flex; flex-direction: column;"><button class="green-button" type="submit">Sign Up</button></div>
        </form>
    </div>
</div>
{% endblock %}
